.div1{
     font-size:30px;
     margin-left: 140px;
     margin-bottom: 20px;
}


a {
  display: block;
  margin-bottom: 10px;
  color: rgb(187, 20, 20);
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  margin-right: 20%;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

.center-link{
    margin-left: 140px;
}


